SIGNING_IMAGE_VERSION=
SPRINTER_SIGNING_DOMAIN=

# Shared across all relayers
SYG_CHAINS=
SYG_RELAYER_SOLVERCONFIG_ACCESSKEY=
SYG_RELAYER_SOLVERCONFIG_SECRETKEY=
SYG_RELAYER_COINMARKETCAPCONFIG_APIKEY=
SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_ENCRYPTIONKEY=
SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_URL=

# Per-relayer secrets
SYG_RELAYER_MPCCONFIG_KEY_1=
KEYSHARE_1=

SYG_RELAYER_MPCCONFIG_KEY_2=
KEYSHARE_2=

SYG_RELAYER_MPCCONFIG_KEY_3=
KEYSHARE_3=
