# The Licensed Work is (c) 2022 Sygma
# SPDX-License-Identifier: LGPL-3.0-only

on: [pull_request]
name: Linter check
env:
  GO111MODULE: on
  GOPRIVATE: github.com/sprintertech
  TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}

jobs:
  linter-check:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - uses: actions/checkout@v6

      - name: setup git access to private repos
        run: git config --global url."https://${TOKEN}:x-oauth-basic@github.com/sprintertech/".insteadOf "https://github.com/sprintertech/"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=10m
          only-new-issues: true
